<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
 
    <!-- Logging Properties -->
    <Properties>
        <Property name="basePath">C:\\Users\\SPURGE\\eclipse-workspace\\RestAssured_Framework\\logs</Property>
    </Properties>
     
    <Appenders>    
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSSS} [%t] %5level %logger{36} -%msg%n"/>
        </Console>
         
        <!-- File Appenders on need basis -->
        <RollingFile name="File" fileName="${basePath}/>automation.log"  filePattern="${basePath}/automation-%d{yyyy-MM-dd}-%i.log"/>    
    </Appenders>
 
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
 
</Configuration>