<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" allow-return-values="true" parallel="tests">
		
		 <parameter name="status" value="available"/>  
  <test  name="Test1" enabled="true">	  
	   
	  <classes>		
		  <class name="DDT.runner"/>
		 		 		  
	  </classes>
  </test> <!-- Test --> 
  
   <test  name="Test2">	  
	  <parameter name="status" value="sold"/>    
	  <classes>		
		  <class name="DDT.runner"/>		 		  
	  </classes>
  </test> <!-- Test --> 
</suite> <!-- Suite -->
