<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InetBankingV1">

  <test  name="BankingAPP_Test">
		
    <classes>
      <class name="com.inetbanking.PageObjects.BaseClass"/>
      <class name="com.inetbanking.testCases.TC_LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
